* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.countries {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img {
  filter: grayscale(0.2) hue-rotate(140deg);
  opacity: 0.8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--pink-primary);
  height: 170px;
  padding: 0 9px;
}

.header-title {
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
}

.header-number {
  font-size: 17px;
  color: #fff;
  margin-right: 10px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: var(--pink-darker);
  padding: 5px;
}

.form-span {
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.search-input {
  height: 20px;
  width: 160px;
  margin: 0 auto;
  padding-left: 10px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 10px;
}

.spin {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 70%;
  left: 55%;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
